body{
  margin: 0;
  padding: 0;
  background: #fafafa;
}
.bg-inverse{
  background-color: #000;
}
.nav-li{
  color: #fff;
  padding: 20px;
  font-size: 15px;
}
.nav-li:hover{
  color: #ffffffe5;
  text-decoration: none;
}
.navbar-brand{
  color: #fff;
  padding: 20px;
  font-size: 25px;
  font-weight: bolder;
}
.navbar-brand:hover{
  color: #ffffffe5;
  text-decoration: none;
}
.left{
  width: 100%;
  height:669px;
  background: #fff;
  border-right: 2px solid #fafafa;
}
.right{
  width: 100%;
  height:669px;
  background:  #fff;
}
.image{
  width: 160px;
  height: 160px;
  background-image: url('./addo.jpg');
  background-size: cover;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
}
.user-setting{
  border-top: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
  color: #00ffff;
}
.naming{
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
.group{
  margin-top: 5px;
  font-size: 18px;
}
.change-avatar{
  color: #00ffff;
  margin-top: 15px;
}

.right-top{
  width: 100%;
  height:50px;
  border: 3px solid #fafafa;
  border-left: 0;
}
.btn-aqua{
  background: #00ffff;
  color: #fff;
  width: 45%;
  border-radius: 25px;
  font-weight: bolder;
}
.btn-light{
  background: #fff;
  color: #333;
  font-weight: bolder;
  width: 45%;
  border-radius: 25px;
}
h6{
  font-weight: bolder;
  font-size: 18px;
}